/* Start Global Variable */
:root {
    --bg-color: #10182f;
    --text-color: #b0b9d8;
    --second-color: #3e307b ;
}
/* End Global Variable */
body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black !important;
    color: white !important;
    overflow-x: hidden;
}
body > footer:nth-child(1) {
    bottom: 0;
    position: absolute;
    width: 100vw;
}
footer, header {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}
a {
    color: var(--text-color) !important;
    text-decoration: none !important;
}
header.container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 25px !important;
}
i {
    cursor: pointer;
}
.active {
    border-radius: 10px !important;
    padding: 2px 7px;
    color: black;
    background-color: white;
}
.active::after {
    content: " " attr(title) "";
    text-transform: capitalize !important;
}
.active  a i {
    color: var(--second-color) !important;
}
.btn {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
}
.date {
    font-weight: 100;
    color: rgb(122, 122, 122);
    font-size: 14px;
}
.brdr {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.card {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
}
.btnn {
    cursor: pointer;
}
.pink {
    color: pink !important;
}
.menu {
    position: absolute;
    right: -40px;
    top: 65px;
    display: none;
    border-radius: 15px;
    background-color: white;
    padding: 10px 10px;
}
.menu div {
    color: var(--second-color) !important;
    padding: 5px 10px !important;
    font-size: 25px;
}
.pop-up {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    z-index: 1000;
    width: 50% !important;
    border-radius: 20px;
}
.overlay {
    opacity: 0.25;
}
.sure{
    position: fixed;
    background-color: #333;
    height: 300px;
    width: 300px;
    display: none;
    z-index: 100;
    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .down{
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right: 50px;
        gap: 20px;
        a{
            background-color: white;
            color: black !important;
            padding: 15px 20px;
            border-radius: 15px;
        }
    }
}

.overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 90;
}

body.blur {
    overflow: hidden;
}